*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    border: blue 1px solid;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    border: green 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
}

main {
    border: pink 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.calculator {
    border: black 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 300px;
    padding: 4px;
    gap: 4px;
}

.calculator__title {
    font-size: 30px;
    padding-top: 24px;
}

.calculator__display {
    border: black 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
    height: 15%;
    width: 90%;
    padding: 8px;
}

.calculator__display__large-area__text {
    font-size: 24px;
}

.calculator__buttons {
    border: black 1px solid;
    display: grid;
    gap: 1px;
    height: 80%;
    width: 90%;
    grid-template-areas:
        'del rem division division'
        '_7 _8 _9 multiply'
        '_4 _5 _6 minus'
        '_1 _2 _3 plus'
        '_0 dot equal plus';
}


#plus {
    grid-area: plus;
}

#minus {
    grid-area: minus;
}

#multiply {
    grid-area: multiply;
}

#division {
    grid-area: division;
}

#equal {
    grid-area: equal;
}

#delete {
    grid-area: del;
}

#remove {
    grid-area: rem;
}

#dot {
    grid-area: dot;
}

#_1 {
    grid-area: _1;
}

#_2 {
    grid-area: _2;
}

#_3 {
    grid-area: _3;
}

#_4 {
    grid-area: _4;
}

#_5 {
    grid-area: _5;
}

#_6 {
    grid-area: _6;
}

#_7 {
    grid-area: _7;
}

#_8 {
    grid-area: _8;
}

#_9 {
    grid-area: _9;
}

#_0 {
    grid-area: _0;
}

.calculator-footer {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 5%;
    width: 90%;
}

footer {
    border: red 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
}