*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    border: blue 1px solid;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    border: green 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
}

main {
    border: pink 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.calculator {
    border: black 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 300px;
    padding: 4px;
    gap: 4px;
}

.calculator__title {
    font-size: 30px;
    padding-top: 24px;
}

.calculator__display {
    border: black 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    height: 20%;
    width: 90%;
    padding: 8px;
}

.calculator__display__large-area__text {
    font-size: 24px;
}

.calculator__buttons {
    border: black 1px solid;
    display: grid;
    gap: 1px;
    height: 80%;
    width: 90%;
    grid-template-areas:
        'del rem division division'
        '_7 _8 _9 multiply'
        '_4 _5 _6 minus'
        '_1 _2 _3 plus'
        '_0 dot equal plus';
}

.calculator__buttons__operands,
#dot__46,
#minus__45 {
    background-color: #eeeeee;
    color: black;
}

#plus__43 {
    grid-area: plus;
}

#minus__45 {
    grid-area: minus;
}

#multiply__215 {
    grid-area: multiply;
}

#division__247 {
    grid-area: division;
}

#equal__61 {
    grid-area: equal;
}

#delete {
    grid-area: del;
}

#remove {
    grid-area: rem;
}

#dot__46 {
    grid-area: dot;
}

#num-1__49 {
    grid-area: _1;
}

#num-2__50 {
    grid-area: _2;
}

#num-3__51 {
    grid-area: _3;
}

#num-4__52 {
    grid-area: _4;
}

#num-5__53 {
    grid-area: _5;
}

#num-6__54 {
    grid-area: _6;
}

#num-7_55 {
    grid-area: _7;
}

#num-8__56 {
    grid-area: _8;
}

#num-9__57 {
    grid-area: _9;
}

#num-0__48 {
    grid-area: _0;
}

.calculator-footer {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 5%;
    width: 90%;
}

footer {
    border: red 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
}